.App {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  padding-top: 20px;
}

.container {
  font-size: small;
  text-align: center;
  line-height: 0.5;
  flex-direction: column;
  border: 5px solid red;
  border-radius: 0.4em;
  
  top: 10%;
  margin:auto;
  width: 80%;
}

.search-box {
  list-style-type: none;
  padding: 5px;
  position: left;
  font-size: 14px;
  border-radius: 0.3em;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.Pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.station {
  position: left;
  margin: 5px; 
}

.prevStaButton {
  margin: 8px
}

.nextStaButton {
  margin: 8px
}

.prevJourButton {
  margin: 8px
}

.nextJourButton {
  margin: 8px
}